<header class="container-fluid bg-primary">
    <nav class="navbar navbar-expand-md p-3" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/principal">
                <img class="m-auto" src="../../assets/LOGO escuela.png" alt='Escuela Normal Superior "Dr. Antonio Sagarna"' height="50">
                <h1 class="m-auto d-inline-block">Gestión de Estudiantes</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNav">
                <div class="navbar-nav">
                    <a class="nav-link" routerLink="/principal" routerLinkActive="active">Listado</a>
                    <a class="nav-link" routerLink="/acerca" routerLinkActive="active">Nosotros</a>   
                </div>
            </div>
        </div>
    </nav>
</header>
